<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>MaxDiff</name>
    <guid>c52cac32-4224-4f3c-b594-05da4ef4ac65</guid>
    <version>3.0.2</version>
    <date>2017-08-09</date>
    <description><![CDATA[v2.0.1 - Added hidden span to labels]]></description>
    <company>Askia</company>
    <author><![CDATA[Clément Salomon <clement@askia.com>]]></author>
    <site>https://askia.com/</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="false" single="true" multiple="false" numeric="false" date="false" open="false" requireParentLoop="true" requireLoopDepth="1" />
      <constraint on="controls" responseblock="true" label="false" textbox="false" checkbox="false" listbox="false" radiobutton="true" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default" manageLoopDepth="1">
      <description><![CDATA[Default output]]></description>
      <content fileName="MaxDiff.css" type="css" mode="static" position="head" />
      <content fileName="default.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="MaxDiff.js" type="javascript" mode="static" position="foot" />
      <content fileName="Initializer.js" type="javascript" mode="dynamic" position="foot" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="controlWidth" name="Control Max Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The max width of the control]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="leastQuestion" name="Least Question" type="question" require="false" visible="true">
        <description><![CDATA[Set as the least question]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="mostCaption" name="Most Caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[Most]]></value>
      </property>
      <property xsi:type="standardProperty" id="leastCaption" name="Least Caption" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[Least]]></value>
      </property>
      <property xsi:type="standardProperty" id="centerCaption" name="Center Caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
    </category>
    <category id="style" name="Style">
      <property xsi:type="standardProperty" id="selectedCell" name="Selected Cell Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgba">
        <description><![CDATA[Selected Cell Color]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tableBackground" name="Table Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgba">
        <description><![CDATA[Table Background Color]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the table corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColour" name="Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThickness" name="Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyle" name="Border Style" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The style of the border]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
    </category>
  </properties>
</control>