<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.1.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.1.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.1.0/ADCSchema.xsd"
          version="2.1.0"
          askiaCompat="5.4.2">
  <info>
    <name>adc2-MaxDiff</name>
    <guid>c52cac32-4224-4f3c-b594-05da4ef4ac65</guid>
    <version>1.0.0</version>
    <date>2017-08-09</date>
    <description><![CDATA[]]></description>
    <company>Askia</company>
    <author><![CDATA[Clément Salomon <clement@askia.com>]]></author>
    <site>https://askia.com/</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="false" single="true" multiple="false" numeric="false" date="false" open="false" requireParentLoop="false" />
      <constraint on="controls" responseblock="true" label="false" textbox="false" checkbox="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default">
      <description><![CDATA[Default output]]></description>
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="default.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.js" type="javascript" mode="dynamic" position="foot" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="leastQuestion" name="Least Question" type="question" require="false" visible="true">
        <description><![CDATA[Set as the least question]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="mostCaption" name="Most Caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[Most]]></value>
      </property>
      <property xsi:type="standardProperty" id="leastCaption" name="Least Caption" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[Least]]></value>
      </property>
      <property xsi:type="standardProperty" id="centerCaption" name="Center Caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
    </category>
    <category id="color" name="Color">
      <property xsi:type="standardProperty" id="selectedCell" name="Selected Cell Color" type="color" mode="dynamic" require="false" visible="true" colorFormat="rgba">
        <description><![CDATA[]]></description>
        <value><![CDATA[{%= Theme.PrimaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tableBackground" name="Table Background Color" type="color" mode="dynamic" require="false" visible="true" colorFormat="rgba">
        <description><![CDATA[]]></description>
        <value><![CDATA[ {%= Theme.WhiteColor %}]]></value>
      </property>
    </category>
  </properties>
</control>