{%
Dim controlAlign
If (CurrentADC.PropValue("controlAlign") = "center" ) Then
    controlAlign = "0 auto"
ElseIf (CurrentADC.PropValue("controlAlign") = "right" ) Then
    controlAlign = "0 0 0 auto"
Else
    controlAlign = "0 auto 0 0"
EndIf
Dim selectedCellColor = CurrentADC.Var("selectedCell")
Dim tableBackground = CurrentADC.Var("tableBackground")
Dim borderColour = CurrentADC.PropValue("borderColour")
Dim borderThickness = CurrentADC.PropValue("borderThickness")
Dim borderStyle = CurrentADC.PropValue("borderStyle")
%}

#adc_{%= CurrentADC.InstanceId%} {
    max-width: {%= CurrentADC.PropValue("controlWidth") %};
    margin: {%= controlAlign %};
}

#adc_{%= CurrentADC.InstanceId%} table {
    background-color: rgba({%= tableBackground %});
    color: rgba({%= Theme.BlackColor %});
    {% If (borderThickness = "none") Then %}
        border: none;
    {% Else %}
        border: {%= borderThickness %} {%= borderStyle %} rgb({%= borderColour %});
    {% EndIf %}
    border-radius: {%= CurrentADC.PropValue("borderRadius") %};
}

#adc_{%= CurrentADC.InstanceId%} tr {
    {% If (borderThickness = "none") Then %}
        border: none;
    {% Else %}
        border: {%= borderThickness %} {%= borderStyle %} rgb({%= borderColour %});
    {% EndIf %}
}

#adc_{%= CurrentADC.InstanceId %} td {
    {% If (borderThickness = "none") Then %}
        border-right: none;
    {% Else %}
        border-right: {%= borderThickness %} {%= borderStyle %} rgb({%= borderColour %});
    {% EndIf %}
    padding: 10px;
}

#adc_{%= CurrentADC.InstanceId %} tbody tr:first-child td:first-child {
    border-top-left-radius: {%= CurrentADC.PropValue("borderRadius") %};
}
#adc_{%= CurrentADC.InstanceId %} tbody tr:first-child td:last-child {
    border-top-right-radius: {%= CurrentADC.PropValue("borderRadius") %};
}

#adc_{%= CurrentADC.InstanceId %} tr:last-child td:first-child {
    border-bottom-left-radius: {%= CurrentADC.PropValue("borderRadius") %};
}
#adc_{%= CurrentADC.InstanceId %} tr:last-child td:last-child {
    border-bottom-right-radius: {%= CurrentADC.PropValue("borderRadius") %};
}

#adc_{%= CurrentADC.InstanceId%} .respCol:hover {
    background-color: rgba({%= Theme.BlackColor.ToRGB() %},.1);
}

#adc_{%= CurrentADC.InstanceId%} .respCol.selected {
    background-color: rgba({%= selectedCellColor %});
}